body {
  background: #f8e8a6;
}
h1,
p {
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: #508000;
}
.croissant-image {
  display: block;
  border-radius: 10px;
  max-width: 100%;
  margin: 30px auto;
}
